/* You can add global styles to this file, and also import other style files */
/* Custom Properties, update these for your own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-grey: red;
    --clr-accent: #16e0bd;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

strong { font-weight: var(--fw-bold) }

/* header */
header {
    background: var(--clr-accent);
    width: 100%;
    position: fixed;
    z-index: 3;
}

.nav {
    height: 5rem;
}

.nav__list {
    display: grid;
    margin: 0;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding-left: 0;
}

.nav__item {
    display: inline-block;
    margin-top: 1.75rem;
    margin-left: inherit;
    text-align: center;
}
.nav__link {
    text-decoration: unset;
    color: var(--clr-dark);
    font-family: var(--ff-secondary);
}
.nav__link:hover {
    opacity: 0.75;
}
